.card-item {
    display: flex;
    background-color: #697d71;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-title {
    color: white;
    font-size: 28px;
    text-align: center;
}

#remove-card-button {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
}

#card-input  {
    margin: 70px 0;
    display: flex;
    justify-content: center;
}

.MuiSvgIcon-root {
    margin: 5px 5px 0 5px;
}

.MuiInputBase-root{
    width: 400px;
}

.MuiFormLabel-root.Mui-focus {
    color: #697d71 !important;
}

.MuiInput-underline:after {
    border-bottom: 1px solid #697d71 !important;
} 

.MuiPaper-root {
    width: 500px;
}

.MuiDialog-paperWidthSm   {
    border-radius: 12px !important;
    background-color: #f5f0ed !important;
}

.MuiDialogTitle-root, .alert-dialog-text {
    display: flex;
    justify-content: center;
}

.MuiButton-label {
    color: #697d71;
    font-weight: bold;
}
