.card-details {
    background-color: #697d71;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}

.card-title-inside {
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}

.card-data {
    color: #595454; 
    background-color: #f5f0ed;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    width: 85%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.label-icon, .label-price {
    display: flex;
    align-items: center;
}

.card-label {
    display: flex;
}

.label-date {
    width: 50px; 
}

.label-destination {
    width: 100px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
}

.button-plus {
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px 25px 0;
    color: white;
}

.edit-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-inputs > input, .edit-price > input {
    margin: 15px;
    padding: 5px;
    color: #595454; 
    background-color: #f5f0ed;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #697d71;
}

.edit-price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.edit-price > input {
    width: 70px;
}